/* *************************************
//
//   Project Title -- Layout
//   -> 格局框架設定
//
//   00.Global
//   01.Header
//   02.Content
//   03.Footer
//
// ************************************/

/* -------------------------------------
//   00.Global
// ----------------------------------- */

html,
body,
.wrapper {
  height: auto;
  min-height: 100vh;
  background-color: $gray-800;
}

/* -------------------------------------
//   01.Header
// ----------------------------------- */

/* -------------------------------------
//   02.Content
// ----------------------------------- */

/* -------------------------------------
//   03.Footer
// ----------------------------------- */
